@use "../../utils/sass/base" as b;
@use "../../utils/sass/utilities/commons" as commons;

/* 
This component is a full width image carousel

📱&🖥️🖼️ ✅
^ Mobile and Desktop Version Design 
📱➡️🖥️ ✅
^ Responsiveness 
📜 ✅
^ Prototype Javascript -> "img-carousel.js"

🟦 = Current
⬜ = not started
Component done on Nov 12, 2023
*/

$column-gap: 24px;
$icon-size: 48px;
//$heading-spacing: 64px; //spacing at the left side the title & the right side of nav buttons
$heading-spacing: 1px, 4vw, 64px; // SASS List used to set up clamp for the spacing around my title and left and right arrow btns
// SASS list cannot be processed by Parcel to convert to readable css?

.left-icon-heading {
    display: inline-flex;
    column-gap: clamp(4px, 5vw, 24px);
    font-size: b.$fs-700;

    margin-left: clamp(nth($heading-spacing, 1), nth($heading-spacing, 2), nth($heading-spacing, 3));
    // nth function gets the item in a list. SASS list are 1 based.

    & svg {
        font-size: $icon-size;
    }
}

.img-carousel {
    width: 98.8dvw;

    &__navigation { //CSS selectors can go 1 element nested deep?
        .slide-right-btn , .slide-left-btn{
            display: none;
        }
    }
    
}

.img-carousel__track {
    display: flex;
    background-color: black;
    // aspect-ratio: 1; //images responsive for mobile screens
    // height of flex container is responsive with aspect-ratio
    // aspect ratio is responsive to viewport??

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    & img:last-child {
        padding-right: $column-gap;
    }

    & img {
        // Use child padding for consistent padding of flex container
        // width and aspect-ratio as wonky way to keep my images the same aspect ratio as viewport gets wider
        max-width: 90%;
        // aspect-ratio: 1 / 2;
        padding-block: $column-gap;
        padding-inline: $column-gap;
        
        scroll-snap-align: start; // this property combined with scroll-snap-type creates scroll snapping to the left of each flex item
    }

    & img:first-child {
        padding-left: 12px; //Work around column gap so scroll snap leaves some padding to the left edge
    }

}


// Mobile -> Tablet & Desktop
@media (min-width: 37.9375em){
    .img-carousel {
        // Was thinking about trying to get my carousel images to grow with viewport as I go to ultra wide screens but I don't know how to do that while keep aspect ratio so my images don't stretch
        &__track {
            & img {
                aspect-ratio: 0;
                width: 20vw;
                max-width: 20%;
            }
        }

        &__btn-wrapper {
            margin-right: clamp(nth($heading-spacing, 1), nth($heading-spacing, 2), nth($heading-spacing, 3));   
        }

        &__navigation {
            display: flex;
            justify-content: space-between;

            max-width: 1360px;
            margin-inline: auto;

            // slide right and slide left buttons only visible on tablet and desktop
            .slide-right-btn , .slide-left-btn{
                display: inline;
                color: white;
                background: none;
                font-size: $icon-size;
    
                border: none;
                transition: opacity ease-in 200ms;
                &:hover,
                &:focus-visible {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }

            .slide-right-btn {margin-left: 8px;}

        }
    }
}

