@use "../../utils/sass/base" as b;
@use "../../utils/sass/utilities/commons" as commons;

/* 
This component is a full width image carousel

📱&🖥️🖼️ ✅
^ Mobile and Desktop Version Design 
📱➡️🖥️ ✅
^ Responsiveness 
📜 ✅
^ Prototype Javascript -> "img-carousel.js"

🟦 = Current
⬜ = not started
Component done on Nov 12, 2023
*/

$icon-size: 48px;
//$heading-spacing: 64px; //spacing at the left side the title & the right side of nav buttons
$heading-spacing: 1px, 4vw, 64px; // SASS List used to set up clamp for the spacing around my title and left and right arrow btns
// SASS list cannot be processed by Parcel to convert to readable css?

.left-icon-heading {
    display: inline-flex;
    column-gap: clamp(4px, 5vw, 24px);
    font-size: b.$fs-700;

    margin-left: clamp(nth($heading-spacing, 1), nth($heading-spacing, 2), nth($heading-spacing, 3));
    // nth function gets the item in a list. SASS list are 1 based.

    & svg {
        font-size: $icon-size;
    }
}

.img-carousel {
    width: 98.5vw;

    &__navigation { //CSS selectors can go 1 element nested deep?
        .slide-right-btn , .slide-left-btn{
            display: none;
        }
    }
    
}

.img-carousel__track {
    $column-gap: 4px;
    
    display: flex;
    background-color: black;
    
    // height: 400px;
    width: 100vw;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    & &-item {
        min-width: 45%;
        max-width: 45%;

        padding-inline: $column-gap;

        scroll-snap-align: start; // this property combined with scroll-snap-type creates scroll snapping to the left of each flex item
    }

    & &-item:last-child {
        padding-right: 0px;
    }
}


// Mobile -> Tablet
@media (min-width: 37.9375em){
    .img-carousel {
        &__btn-wrapper {
            border: none;
            margin-right: clamp(nth($heading-spacing, 1), nth($heading-spacing, 2), nth($heading-spacing, 3));   
        }

        &__navigation {
            display: flex;
            justify-content: space-between;

            max-width: 1360px;
            margin-inline: auto;

            // slide right and slide left buttons only visible on tablet and desktop
            .slide-right-btn , .slide-left-btn{
                display: inline;
                color: white;
                background: none;
                font-size: $icon-size;
    
                border: none;
                transition: opacity ease-in 200ms;
                &:hover,
                &:focus-visible {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }

            .slide-right-btn {margin-left: 8px;}
        }
    }

    .img-carousel__track {
        $column-gap: 8px;
    
        & &-item {
            min-width: 30%;
            max-width: 30%;
            padding-right: $column-gap;
        }
    }

}

// Tablet -> Desktop
@media (min-width: 64em) {
    .img-carousel__track {
        $column-gap: 8px;

        max-height: 697px;
        max-width: 1949px;
        margin-inline: auto;
    
        & &-item {
            min-width: 22%;
            max-width: 22%;
            padding-right: $column-gap;
        }
    }
}