

.container {
    width: min(1200px, 100% - 40px); // max width & infinite scale down w/ auto inline margin on sides
    margin-inline: auto; // center container w/ no flexbox 
}

// Widths
$size-900: 168px;
$size-800: 128px;
$size-300: 24px;

//variables for all padding used 
.padding-bottom-800 {
    padding-bottom: $size-800; //Top & Bottom Padding
}

.even-columns {
    display: grid;
}

.middle-of-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Stack content without position absolute
.stacked {
    display: grid;
    place-items: center;
}

.stacked > * {
    // Make all children share the same cell
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

@media (min-width: 464px) {
    .even-columns { // Convert 1 column -> 2 columns
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}